.cassettesForm {
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background: #e8f0fe;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__label {
        font-weight: 500;
        font-size: 1.05rem;
    }

    &__params {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__columns {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        &__column {
            flex: 1 1 33%;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
}